<p id="notice"><%= notice %></p>

<h1>Experiences</h1>
<p class="btn btn-md btn-warning"><%= link_to 'New Experience', new_experience_path %></p>

<hr>
<% @experiences.each do |experience| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= experience.venue_name %></h3>
  </div>
  <div class="panel-body">
    <dl>
      <dt>Rating</dt>
      <dd><%= experience.rating %></dd>
      <br>
       <dt>Favorite</dt>
      <dd><%= experience.favorite %> </dd>
      <br>
       <dt>Comment</dt>
      <dd><%= experience.comment %> </dd>
      </dl>
  </div>
</div>

<% end %>


<br>


